<!-- <button mat-button>{{mesa.numero}} - #{{mesa.codigoQr}}</button> -->
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MESA {{mesa.numero}}
        </mat-card-title>
        <mat-card-subtitle># {{mesa.codigoQr}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{mesa.estado}} </p>
    </mat-card-content>
    <mat-card-actions>
        <button text-center mat-button *ngIf="mesa.estado == 'Libre'">Abrir</button>
    </mat-card-actions>
</mat-card>