<mat-card class="card" [class.ponerBorde]="mesa.estado =='Llamando'" [class.quadrat]="mesa.estado =='Llamando' ||mesa.estado == 'Cobrar'" [style.background-color]="tomarColor()">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mesa {{mesa.numero}}
        </mat-card-title>
        <mat-card-subtitle># {{mesa.codigoQr}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Estado: {{mesa.estado}}</p>
        <div *ngIf="mesa.clienteID != 0">
            <p>Cliente: {{mesa.clienteNombre}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab matTooltip="Asignar cliente" color="primary" (click)="asignarCliente()" *ngIf="mesa.clienteDni == ''">
            <mat-icon>face</mat-icon>
        </button>

        <button mat-mini-fab color="primary" matTooltip="Cargar pedido" (click)="agregarPedido()">
            <mat-icon>queue</mat-icon>
        </button>

        <button mat-mini-fab color="primary" matTooltip="Ver pedidos" (click)="verPedidos()" *ngIf="mesa.estado =='Esperando'">
            <mat-icon>search</mat-icon>
        </button>

        <!-- <button mat-raised-button color="primary " (click)="asignarCliente() " *ngIf="mesa.clienteID==n ull ">Asignar Cliente</button>
        <button mat-raised-button color="primary " (click)="seleccionarMesa() " *ngIf="mesa.estado=='Libre' ">{{cambiarNombreBoton()}}</button> -->
    </mat-card-actions>
</mat-card>