<button mat-mini-fab color="accent" (click)="puntuar(1)">1</button>
<button mat-mini-fab color="accent" (click)="puntuar(2)">2</button>
<button mat-mini-fab color="accent" (click)="puntuar(3)">3</button>
<button mat-mini-fab color="accent" (click)="puntuar(4)">4</button>
<button mat-mini-fab color="accent" (click)="puntuar(5)">5</button>
<button mat-mini-fab color="accent" (click)="puntuar(6)">6</button>
<button mat-mini-fab color="accent" (click)="puntuar(7)">7</button>
<button mat-mini-fab color="accent" (click)="puntuar(8)">8</button>
<button mat-mini-fab color="accent" (click)="puntuar(9)">9</button>
<button mat-mini-fab color="accent" (click)="puntuar(10)">10</button>