<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title># {{pedido.codigoPedido}}
      <button mat-button *ngIf="pedido.estado == 'pendiente'">ELIMINAR</button>
    </mat-card-title>
    <mat-card-subtitle>{{pedido.tiempoMayorEstimado}} minutos</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p *ngFor="let item of pedido.subPedidosBebida.items">{{item.cantidad}} - {{item.bebidaID}} </p>
  </mat-card-content>
  <mat-card-actions>
    <label *ngIf="pedido.estado == 'derivado'">ESPERANDO</label>
    <button mat-button *ngIf="pedido.estado == 'pendiente'">DERIVAR</button>
    <button mat-button *ngIf="pedido.estado == 'preparado'">ENTREGAR</button>

  </mat-card-actions>
</mat-card>