.example-card {
    max-width: 300px;
}

.mat-list-item {
    height: 35px !important;
}

mat-card-actions {
    text-align: center !important;
    align-items: center !important;
    vertical-align: center !important;
}

.example-header-image {
    background-image: url('../../../../assets/plato.jpg');
    background-size: cover;
}

.cocina {
    background-image: url('../../../../assets/comida.jpg');
    background-size: cover;
}

.bebida {
    background-image: url('../../../../assets/bebida.png');
    background-size: cover;
}

.cerveza {
    background-image: url('../../../../assets/beer.png');
    background-size: cover;
}