.example-card {
    max-width: 100%;
    margin-top: 2%;
    background-color: #FCA731;
}

.mat-list-item {
    height: 35px !important;
}

.titulo {
    text-align: left !important;
}

mat-card-actions {
    text-align: center !important;
    align-items: center !important;
    vertical-align: center !important;
}

button {
    margin-right: 1%;
}

.example-header-image {
    background-image: url('../../../../assets/plato.jpg');
    background-size: cover;
}

.cocina {
    background-image: url('../../../../assets/comida.png');
    background-size: cover;
}

.bebida {
    background-image: url('../../../../assets/bebida.png');
    background-size: cover;
}

.cerveza {
    background-image: url('../../../../assets/beer.png');
    background-size: cover;
}

.spacer {
    flex: 1 1 auto;
}

.colorVerde {
    color: rgb(10, 117, 10)
}