<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title [ngStyle]="{'background-color':sumarMinutos() < 5 ? 'orangered' : 'white' }">#{{comanda.pedidos[index].codigoPedido}}
            <mat-label *ngIf="comanda.pedidos[index].estado=='Derivado'">
                - (restan {{sumarMinutos()}} min)
            </mat-label>

            <button mat-fab color="warn" *ngIf="comanda.pedidos[index].estado=='Pendiente' ">Eliminar</button>
        </mat-card-title>
        <mat-card-subtitle>{{comanda.pedidos[index].tiempoMayorEstimado}} minutos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-list>
            <mat-list-item *ngFor="let item of comanda.pedidos[index].subPedidosCocina.items ">
                <div mat-card-avatar mat-list-icon class="cocina"></div>
                <h4 mat-line>{{item.cantidad}} - {{item.nombre}}</h4>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>

        <mat-list>
            <mat-list-item *ngFor="let item of comanda.pedidos[index].subPedidosBebida.items ">

                <div mat-card-avatar mat-list-icon class="bebida"></div>
                <h4 mat-line>{{item.cantidad}} - {{item.nombre}}</h4>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
        <mat-list>

            <mat-list-item *ngFor="let item of comanda.pedidos[index].subPedidosCerveza.items ">
                <div mat-card-avatar mat-list-icon class="cerveza"></div>
                <h4 mat-line>{{item.cantidad}} - {{item.nombre}}</h4>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="comanda.pedidos[index].estado=='Derivado'" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>timer</mat-icon>
            <span>Esperando...</span>
        </div>

        <button mat-fab color="primary" (click)="derivar()" *ngIf="comanda.pedidos[index].estado=='Pendiente' ">Derivar</button>
        <button mat-fab color="primary" (click)="entregar()" *ngIf="comanda.pedidos[index].estado=='preparado' ">Entregar</button>

    </mat-card-actions>
</mat-card>