
.divFormEmpleado {
  width: 50%;
  margin: 0 auto;
  margin-top: 7%;
}

.formInput {
  width: 90%;
}

.form-group {
  width: 60%;
}




.botonGuardar {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.botonCancelar {
  margin-top: 15px;
  width: 100%;
}

mat-card {
  width: 100%;
}

mat-card-content{
  margin-top: 2%;
}

p {
 font-weight: bold;
}
