<div class="col-md-6 col-md-offset-3">
  <h2>Alta empleado</h2>
  <form name="form" (ngSubmit)="guardarEmpleado()" novalidate>
    <div class="form-group">
      <mat-form-field [floatLabel]="'auto'">
        <input matInput type="text" class="form-control" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel"
          placeholder="Nombre" required />
      </mat-form-field>
      <div *ngIf="!nombre.valid" class="help-block"></div>
    </div>
    <div class="form-group">
      <mat-form-field [floatLabel]="'auto'">
        <input matInput type="text" class="form-control" name="apellido" [(ngModel)]="model.apellido"
          #apellido="ngModel" placeholder="Apellido" placeholder="Apellido" required />
      </mat-form-field>
      <!-- <div *ngIf="!lastName.valid" class="help-block">El Apellido es requerido</div> -->
    </div>
    <div class="form-group">
      <mat-form-field [floatLabel]="'auto'">
        <input matInput type="text" class="form-control" name="documento" [(ngModel)]="model.documento"
          #documento="ngModel" placeholder="Documento" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field [floatLabel]="'auto'">
        <input matInput type="text" class="form-control" name="cuil" [(ngModel)]="model.cuil" #cuil="ngModel"
          placeholder="Cuil" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field [floatLabel]="'auto'">
        <input matInput type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
          placeholder="Email" required />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="Perfil" [(ngModel)]="model.perfil" name="perfil">
        <mat-option *ngFor="let perfil of perfiles" [value]="perfil.value">
          {{perfil.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="container" style="width:400px">
      <app-upload-files-form [dni]="this.model.documento"></app-upload-files-form>
      <br />
      <app-list-upload></app-list-upload>
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary" class="btn btn-primary">GUARDAR</button>
      <a [routerLink]="['/mesas']" class="btn btn-link">Cancelar</a>
    </div>

  </form>
</div>