.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem 8em;
}

@media screen and (min-width: 40em) {
    .card {
        max-width: calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.example-card {
    max-width: 50px;
}

// .myfab {
//     width: 90px;
//     height: 90px;
//     line-height: 14px;
//     font-size: 14px;
//     &::ng-deep .mat-button-wrapper {
//         line-height: 14px;
//         padding: 0;
//         .mat-icon {
//             font-size: 14px;
//             padding-right: 4px;
//             padding-top: 4px;
//         }
//     }
// }
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}