<div>
  <h2>INGRESAR</h2>
  <div>
    <mat-form-field class="inputLargo">
      <input matInput placeholder='Email' type="text" [(ngModel)]="usuario" required />
    </mat-form-field>
    <mat-form-field class="inputLargo">
      <input matInput type="password" placeholder='Contraseña' [(ngModel)]="pass" required />
    </mat-form-field>
  </div>
  <div class='separar'>
    <button mat-raised-button color="primary" [disabled]="loading" (click)='ingresar()'>INGRESAR</button>
    <a [routerLink]="['/registroEmpleados']">Registrar</a>
  </div>
  <br>
  <div class='separar'>
    <button mat-mini-fab color="primary" (click)="agregar('sabrinaveiga@hotmail.com')">A</button>
    <button mat-mini-fab color="accent" (click)="agregar('sebillac@hotmail.com')">M</button>
    <button mat-mini-fab color="warn" (click)="agregar('joseperez@hotmail.com')">Co</button>
    <button mat-mini-fab color="warn" (click)="agregar('maria@hotmail.com')">B</button>
    <button mat-mini-fab color="warn" (click)="agregar('robertoromero@hotmail.com')">Ce</button>
    <button mat-mini-fab color="basic" (click)="agregar('juan@hotmail.com')">Cl</button>
  </div>
</div>