.divFormEmpleado {
    width: 20%;
    margin: 0 auto;
    margin-top: 7%;
  }

.captchaCard {
  width: 100%;
}

.minifab {
  width: 10%;
  font-weight: bold;
}

.operacion {
  font-size: 4em;
  font-weight: bold;
  color: #414dfd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.numeros {
  font-size: 4em;
  font-weight: bold;
  color: #414dfd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}