.example-stretched-tabs {
    max-width: 800px;
  }

  .divEncuesta {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%; 
    margin-bottom: 15%;
    text-align: left;
}

.separar button {
    margin-right: 1.5%;
    margin-left: 2%;
    margin-bottom: 10%;
  }

.separar {
    width: 80%;
    margin: 0 auto;
    margin-top: 7%; 
    // text-align: left;
}

.divTextComentario {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%; 
    // text-align: left;
}

.divBotonEnviar {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

.preguntaFuente {
    font-size: 20px;
}

.textBox {
    margin-top: 1%;
    width: 100%;
}

.inputBox {
    height: 80px;
}

.botonEnviar {
    width: 100%;
    margin-bottom: 5%;
}

p {
    width: 80%;
    margin: 0 auto;
    margin-top: 7%; 
}