<div>
    <mat-toolbar style="background-color:#7e57c2; color: white" *ngIf="isLoggedIn$ | async">
        <mat-toolbar-row>
            <button mat-button [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger" (click)="matMenuTrigger.openMenu()" *ngIf="hasMenu$ | async">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <!-- <div (click)="matMenuTrigger.closeMenu()"> -->
                <button mat-menu-item [routerLink]="['/mesas']">Mesas</button>
                <button mat-menu-item [routerLink]="['/registroEmpleados']">Registrar empleado</button>
                <button mat-menu-item (click)="descargarExcel()">Descargar listado Empleados</button>
                <button mat-menu-item [matMenuTriggerFor]="reportes">Reportes</button>
                <!-- <button mat-menu-item [routerLink]="['/mapa']">Mapa</button> -->
                <!-- </div> -->
            </mat-menu>

            <mat-menu #reportes="matMenu">
                <button mat-menu-item [routerLink]="['/masVendidos']">Mas Vendidos</button>
                <!-- <button mat-menu-item>Mammals</button> -->
            </mat-menu>

            <span class="spacer"></span>
            <span>
                <img src="assets/bandeja.png" class="angular-logo">
                Comandas
            </span>
            <span> </span>

            <span class="spacer"></span>

            <div style="padding-right: 5px">
                <button mat-mini-fab (click)="asignarMesa()">
              <mat-icon>place</mat-icon>
            </button>
            </div>
            <button mat-mini-fab (click)="salir()">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>