<button mat-raised-button color="primary" (click)="agregarPedido()">Agregar pedido</button>
<button mat-raised-button color="warm" (click)="cancelar()">Cancelar</button>
<mat-tab-group>

    <mat-tab label="ENTRADAS">
        <ng-template matTabContent>
            <app-tabla [datos]='lMinutas'></app-tabla>
        </ng-template>
    </mat-tab>

    <mat-tab label="PRINCIPAL">
        <ng-template matTabContent>
            <app-tabla [datos]='lCalientes'></app-tabla>
        </ng-template>
    </mat-tab>

    <mat-tab label="POSTRES">
        <ng-template matTabContent>
            <app-tabla [datos]='lPostres'></app-tabla>
        </ng-template>
    </mat-tab>

    <mat-tab label="BEBIDAS">
        <ng-template matTabContent>
            <app-tabla [datos]='lBebidas'></app-tabla>
        </ng-template>
    </mat-tab>

    <mat-tab label="TRAGOS">
        <ng-template matTabContent>
            <app-tabla [datos]='lTragos'></app-tabla>
        </ng-template>
    </mat-tab>

    <mat-tab label="CERVEZAS">
        <ng-template matTabContent>
            <app-tabla [datos]='lCervezas'></app-tabla>
        </ng-template>
    </mat-tab>

</mat-tab-group>