<button mat-raised-button color="primary" (click)="cargarPedido()">AGREGAR PEDIDO</button>
<mat-tab-group>
  <mat-tab label="PLATOS">
    <app-tabla [datos]='datosPlatos'></app-tabla>
  </mat-tab>

  <mat-tab label="POSTRES">
    <app-tabla [datos]='datosPostres'></app-tabla>
  </mat-tab>

  <mat-tab label="BEBIDAS Y TRAGOS">
    <app-tabla [datos]='datosBebidas'></app-tabla>
  </mat-tab>

  <mat-tab label="CERVEZAS">
    <app-tabla [datos]='datosCervezas'></app-tabla>
  </mat-tab>

</mat-tab-group>

<!-- <mat-tab label="CERVEZAS">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>

      <ng-container matColumnDef="tiempo">
        <th mat-header-cell *matHeaderCellDef> Tiempo </th>
        <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)='restarCantidad(element, -1)'>
            <mat-icon class='md-light'>remove_circle_outline</mat-icon>
          </button>
          {{element.cantidad}}
          <button mat-icon-button (click)='sumarCantidad(element, 1)'>
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab> -->