<div style="justify-content: center; align-items: center; text-align: center; ">
    <div id="contentToConvert">
        <h2>Productos mas vendidos hasta la fecha {{fechaHoy | formatoFecha: fechaHoy}}</h2>
        <div style="align-items: center;">
            <div style="display: block; width: 70vw;" *ngIf="barChartData.length > 0">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <button mat-raised-button style="position: fixed" color="primary" (click)="generatePDF()">Exportar a PDF</button>
</div>