<div style="text-align: center; padding-bottom: 10px" id="contentToConvert">
    <h2>Productos mas vendidos hasta la fecha {{fechaHoy | formatoFecha: fechaHoy}}</h2>
    <div>
        <div style="height: 70vh;" *ngIf="barChartData.length > 0">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>
<br>
<button mat-raised-button style="position: fixed" color="primary" (click)="generatePDF()">Exportar a PDF</button>