@import '~@angular/material/theming';
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$comanda-primary: mat-palette($mat-deep-purple);
$comanda-accent: mat-palette($mat-orange, 300, A100, A400);
// The warn palette is optional (defaults to red).
$comanda-warn: mat-palette($mat-red);
$comanda-warn: mat-palette($mat-red);
$comanda-theme: mat-light-theme($comanda-primary, $comanda-accent, $comanda-warn);
@include angular-material-theme($comanda-theme);
.alternate-theme {
    $alternate-primary: mat-palette($mat-light-blue);
    $alternate-accent: mat-palette($mat-yellow, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}