<div *ngIf="currentFileUpload" class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
		attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>

<input #filebutton type="file" (change)="selectFile($event)" [hidden]="true"><button type="button" mat-raised-button #upload [disabled]="!dni"
	(click)="filebutton.click()">Seleccionar foto</button>


<!-- <button mat-raised-button color='basic' class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Subir foto</button> -->