<div id="content" #content *ngIf="comanda != null else noComanda">
    <div *ngFor="let pedido of comanda.pedidos; index as i">
        <app-pedido [index]=i [comanda]='comanda' [mesa]='mesa'></app-pedido>
    </div>
    <mat-card class="example-card">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <b>Total: {{comanda.importeTotal | currency}}</b>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Mesa: {{mesa.numero}}</h3>
                Estado: {{comanda.estado}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-fab color="primary" *ngIf="verBotones()" (click)="cerrarCobrarComanda()" [disabled]="habilitarBoton()"> {{nombreBoton}} </button>
            <button (click)="exportPDF()">Exportar a PDF </button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #noComanda>
    <p style="color:#dfdfdf; text-align: center; margin-top:40%; font-size: 180%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">NO HAY COMANDA SELECCIONADA</p>
</ng-template>